{{ partial "header.html" . }}

<section class="project-start">
  <div class="project-start__text">
    <div class="project-start__title">{{.Title}}</div>
  </div>
  <div class="project-start__item">
    <img src="{{ .Params.main_project_image }}" alt="hal" />
  </div>
</section>
<section class="about">
  <div class="about__triangle">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z"></path>
    </svg>
  </div>
    <div class="container">{{ .Content }}</div>
  <div class="square square-white"></div>
</section>

{{ partial "footer.html" . }}</div>