{{ partial "header.html" . }}

    <section class="start" id="start" data-section="start">
      <div class="container">
        <div class="start__wrapper">
          <div data-aos="fade-up" class="start__block">
            <!-- <img class="start__image akso" src="/images/akso.jpg" alt="akso"> -->
            <img class="start__image hal" src="/images/hal_square.jpg" alt="hal" />
          </div>
          <div class="start__block">
            <!-- <div data-aos="fade-up" class="start__title">KNR</div> -->
            <div data-aos="fade-up" class="start__title">
              <span>K</span>oło <span>N</span>aukowe <span>R</span>obotyków
            </div>
          </div>
        </div>
      </div>
      <div class="square"></div>
      <div class="square square-left"></div>
    </section>
    <section class="about" id="about" data-section="about">
      <div class="about__wave">
        <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          ></path>
        </svg>
      </div>
      <div class="container">
        <div class="about__wrapper">
          <div class="about__block" data-aos="fade-up">
            <img class="about__image" src="/images/team_cut.jpg" alt="hal" />
          </div>
        </div>
        <div class="about__block">
          <div data-aos="fade-up" class="about__title">O nas</div>
          <div data-aos="fade-up" data-aos-delay="300" class="about__descr">
            Koło Naukowe Robotyków KNR działające przy Wydziale Mechanicznym
            Energetyki i Lotnictwa Politechniki Warszawskiej. Skupia w swoich
            szeregach pasjonatów robotyki, którzy rozwijają swoją wiedzę i
            umiejętności. Działalność członków Koła nie ogranicza się do
            jednej tylko dziedziny robotyki - członkowie są zaangażowani w
            projekty dotyczące samochodów autonomicznych, wizji maszynowej,
            łazików marsjańskich, manipulatorów. Członkowie koła zajmują się
            także budową robotów humanoidalnych, mobilnych, podwodnych, a
            nawet latających. Dodatkowo, studenci Koła wraz z swoimi
            konstrukcjami uczestniczą w ogólnopolskich i międzynarodowych
            zawodach robotycznych, prezentują swoje dokonania na
            międzynarodowych konferencjach oraz biorą udział w profesjonalnych
            szkoleniach. Działalność popularyzacji nauki skupia się na
            wystawianiu swoich konstrukcji oraz prezentacji ich na różnych
            wydarzeniach poświęconych nauce, jak np. Piknik Naukowy Polskiego
            Radia i Centrum Nauki Kopernik, czy podczas Nocy w Instytucie
            Lotnictwa.
          </div>
        </div>
      </div>
      <div class="square square-white"></div>
    </section>
    <section class="projects" id="projects" data-section="projects">
      <div class="projects__wave">
        <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          ></path>
        </svg>
      </div>
      <div class="projects__wrapper">
        <div data-aos="fade-up" class="projects__title">Projekty</div>
        <div class="projects__item">
          <div data-aos="fade-up" class="projects__item-block">
            <div class="projects__item-slider">
              <img src="/images/lazik/1.jpg" alt="project 1" />
              <img src="/images/lazik/2.jpg" alt="project 1" />
              <img src="/images/lazik/3.jpg" alt="project 1" />
              <img src="/images/lazik/4.jpg" alt="project 1" />
            </div>
          </div>
          <div class="projects__item-block">
            <div data-aos="fade-up" class="projects__item-title">
              Łazik HAL-062
            </div>
            <div data-aos="fade-up" class="projects__item-descr">
              Łazik marsjański „HAL-062” to robot biorący udział w najbardziej
              prestiżowych zawodach na świecie ...
            </div>
            <div data-aos="fade-up">
              <a href="hal" class="projects__item-btn"> Więcej ... </a>
            </div>
          </div>
          <div
            class="projects__square projects__square-top projects__square-right"
          ></div>
          <div
            class="projects__square projects__square-white projects__square-bottom projects__square-left projects__square-big"
          ></div>
        </div>
        <div class="projects__item projects__item-grey projects__item-reverse">
          <div class="projects__item-block">
            <div data-aos="fade-up" class="projects__item-title">Melson</div>
            <div data-aos="fade-up" class="projects__item-descr">
              Melson to robot humanoidalny o 21 stopniach swobody. Swoją
              sylwetką i ruchami naśladuje człowieka, do czego wykorzystuje aż
              21 wysokiej precyzji napędów ...
            </div>
            <div data-aos="fade-up">
              <a href="melson" class="projects__item-btn"> Więcej ... </a>
            </div>
          </div>
          <div data-aos="fade-up" class="projects__item-block">
            <div class="projects__item-slider">
              <img src="/images/melson/1.jpg" alt="project 1" />
              <img src="/images/melson/2.jpg" alt="project 1" />
              <img src="/images/melson/3.jpg" alt="project 1" />
              <img src="/images/melson/4.jpg" alt="project 1" />
            </div>
          </div>
          <div class="projects__item-wave">
            <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              ></path>
            </svg>
          </div>
          <div
            class="projects__square projects__square-big projects__square-bottom projects__square-right"
          ></div>
        </div>
        <div class="projects__item">
          <div data-aos="fade-up" class="projects__item-block">
            <div class="projects__item-slider">
              <img src="/images/okon/1.jpg" alt="project 1" />
              <img src="/images/okon/2.jpg" alt="project 1" />
              <img src="/images/okon/3.jpg" alt="project 1" />
            </div>
          </div>
          <div class="projects__item-block">
            <div data-aos="fade-up" class="projects__item-title">
              Łódz Podwodna OKOŃ
            </div>
            <div data-aos="fade-up" class="projects__item-descr">
              Łódz Podwodna OKOŃ (AUV-Autonomous Underwater Vehicle) to w pełni
              autonomiczny robot podwodny ...
            </div>
            <div data-aos="fade-up">
              <a href="okon" class="projects__item-btn"> Więcej ... </a>
            </div>
          </div>
          <div class="projects__item-wave projects__item-wave-grey">
            <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              ></path>
            </svg>
          </div>
          <div
            class="projects__square projects__square-white projects__square-bottom projects__square-left"
          ></div>
        </div>
        <div class="projects__item projects__item-grey projects__item-reverse">
          <div class="projects__item-block">
            <div data-aos="fade-up" class="projects__item-title">Selfie</div>
            <div data-aos="fade-up" class="projects__item-descr">
              Samochód Autonomiczny „Selfie” projekt samochodu w skali 1:10,
              który przy pomocy wizji maszynowej lub lidaru i innych czujników
              porusza się po torze symulującym rzeczywisty ruch uliczny ...
            </div>
            <div data-aos="fade-up">
              <a href="selfie" class="projects__item-btn"> Więcej ... </a>
            </div>
          </div>
          <div data-aos="fade-up" class="projects__item-block">
            <div class="projects__item-slider">
              <img src="/images/selfie/1.jpg" alt="project 1" />
              <img src="/images/selfie/2.jpg" alt="project 1" />
              <img src="/images/selfie/3.jpg" alt="project 1" />
              <img src="/images/selfie/4.jpg" alt="project 1" />
            </div>
          </div>
          <div class="projects__item-wave">
            <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path
                d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="projects archive__section" id="archive" data-section="archive">
      <div class="projects__wrapper">
        <div class="projects__item">
          <div class="archive__item-block">
            <div data-aos="fade-up" class="archive__item-title">
              Archiwum projektów
            </div>
            <div data-aos="fade-up" class="archive__item-descr">
              Jeśli jesteś ciekawy innych naszych projektów możesz zajrzeć do naszego archiwum. 
            </div>
            <div data-aos="fade-up">
              <a href="/project" class="archive__item-btn"> 
                Więcej ... 
              </a>
            </div>
          </div>
          <div>
            <svg class="archive__wave" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path fill="#c0bdbd" d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="authorities" id="authorities" data-section="authorities">
      <div class="projects__item-wave">
        <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          ></path>
        </svg>
      </div>
      <div class="container">
        <div class="authorities__wrapper">
          <div data-aos="fade-up" class="authorities__title">Zarząd</div>
          <div class="authorities__content">
            <div class="authorities__content-block">
              <div data-aos="fade-up" class="authorities__position">Prezes</div>
              <div
                data-aos="fade-up"
                data-aos-delay="100"
                class="authorities__name"
              >
                Dominik Chmielak
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
                <a
                  href="mailto:dominik.chmielak.stud@pw.edu.pl"
                  class="authorities__contacts-item"
                >
                  <i class="far fa-envelope"></i>
                  <p>dominik.chmielak.stud@pw.edu.pl</p>
                </a>
              </div>
            </div>
            <div class="authorities__content-block">
              <div data-aos="fade-up" class="authorities__position">
                Wiceprezes
              </div>
              <div
                data-aos="fade-up"
                data-aos-delay="100"
                class="authorities__name"
              >
                inż. Paweł Kotiuk
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
                <a
                  href="mailto:pawel.kotiuk.stud@pw.edu.pl"
                  class="authorities__contacts-item"
                >
                  <i class="far fa-envelope"></i>
                  <p>pawel.kotiuk.stud@pw.edu.pl</p>
                </a>
              </div>
            </div>
            <div class="authorities__content-block">
              <div data-aos="fade-up" class="authorities__position">
                Skarbnik
              </div>
              <div
                data-aos="fade-up"
                data-aos-delay="100"
                class="authorities__name"
              >
                Dawid Duklas
              </div>
              <div data-aos="fade-up" data-aos-delay="200">
                <a
                  href="mailto:dawid.duklas.stud@pw.edu.pl"
                  class="authorities__contacts-item"
                >
                  <i class="far fa-envelope"></i>
                  <p>dawid.duklas.stud@pw.edu.pl</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="square square-white"></div>
    </section>
    <section class="sponsors" id="sponsors" data-section="sponsors">
      <div class="container">
        <div data-aos="fade-up" class="sponsors__title">Wspierają nas</div>
        <div data-aos="fade-up" data-aos-delay="300" class="sponsors__block">
          <a href="https://botland.com.pl/pl/" target="_blank">
            <img src="/images/botland.png" alt="sponsors image" />
          </a>
          <a href="https://www.solidworks.com/" target="_blank">
            <img src="/images/solid.png" alt="sponsors image" />
          </a>

          <a href="http://www.addit.pl/" target="_blank">
            <img src="/images/addit.png" alt="sponsors image" />
          </a>
          <a href="https://www.st.com/content/st_com/en.html" target="_blank">
            <img src="/images/stm.png" alt="sponsors image" />
          </a>
        </div>
      </div>
    </section>
{{ partial "footer.html" . }}
