{{ partial "header.html" . }}
<section class="project-start">
</section>
<section class="project">
  <div class="project__triangle">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 0L0 0 892.25 114.72 1200 0z"></path>
    </svg>
  </div>
        <div class="archive-title">Archiwum projektów</div>
        </div>
  </div>
  <div class="square square-white"></div>
  <div class="archive-gallery">
    <div class="archive-item">
      <a href="archiveitem1">
        <img src="/images/melson/4.jpg" alt="Project 1 img">
        <h3>Project 1</h3>
        <p>Short description</p>
      </a>
    </div>
    <!-- <div class="archive-item">
      <a href="{{ (relURL "/archiveitem2") }}">
        <img src="/images/melson/4.jpg" alt="Project 2 img">
        <h3>Project 2</h3>
        <p>Short description</p>
      </a>
    </div>
    <div class="archive-item">
      <a href="{{ (relURL "/archiveitem3") }}">
        <img src="/images/melson/4.jpg" alt="Project 3 img">
        <h3>Project 3</h3>
        <p>Short description</p>
      </a>
    </div>
    <div class="archive-item">
      <a href="{{ (relURL "/archiveitem4") }}">
        <img src="/images/melson/4.jpg" alt="Project 4 img">
        <h3>Project 4</h3>
        <p>Short description</p>
      </a>
    </div> -->
  </div>
</section>
{{ partial "footer.html" . }}